## .NET
bin/
obj/
/out/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.ncrunch*
*.DotSettings.user
_ReSharper*/
*.rsuser
project.lock.json
project.fragment.lock.json
artifacts/

## EF / secrets
appsettings.Local.json
*.db
*.db-shm
*.db-wal

## IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db
